@font-face {
    font-family: 'lato';
    src: url('../Lato-Regular.ttf') format('opentype');
} 

@keyframes ldio-v3xoc9chw0a {
    0% { transform: rotate(0deg) }
    50% { transform: rotate(180deg) }
    100% { transform: rotate(360deg) }
    }
    .ldio-v3xoc9chw0a div {
    position: absolute;
    animation: ldio-v3xoc9chw0a 1.45s linear infinite;
    width: 48px;
    height: 48px;
    top: 26px;
    left: 26px;
    border-radius: 50%;
    box-shadow: 0 7.9px 0 0 #bbdcf4;
    transform-origin: 24px 27.95px;
    margin-left: 20px;
    }
    .loadingio-spinner-eclipse-f1acnqblv1t {
    width: 48px;
    height: 48px;
    display: inline-block;
    overflow: hidden;
    background: none;
    }
    .ldio-v3xoc9chw0a {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(0.48);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
    }
    .ldio-v3xoc9chw0a div { box-sizing: content-box; }

html
{
    min-height: 100vh;
    margin: 0;
}

body
{
    /* background-color: #212121; */
    background-color: rgb(8, 8, 8);
    color: #ccc39d;
    font-family: 'lato';
    font-size: 22px;
    text-align: center;
    font-weight: 500;
    display: flex;
    /* padding: 20px; */
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

.splashscreen
{
    background-color: #212121;
    background-image: url(../img/logoa1.png);
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
}

.content
{
    min-width: 300px;
    margin: 20px;
    margin-top: 40px;
    min-height: 200px;
    border: 1px solid grey;
    flex: 1;
    position: relative;
}

.token_container
{
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    padding: 0 8%;
}

.title
{
    display: block;
    background-image: url(../img/logoa2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 80%;
    width: 100%;
    height: 250px;
}

/* .auxcol
{
    max-width: 440px;
} */
    
.leftcol
{
    text-align: left;
    width: 370px;
    margin-top: 56px;
}

.maincolumn
{
    position: relative;
    width: 100%;
    background-color: rgb(21, 21, 26);
    border: 1px solid rgb(75, 77, 52);
    border-radius: 6px;
    min-height: 200px;
    margin-top: 56px;
}

.eth_gradient
{
    background: linear-gradient(to right, #0a151a, #162429, #1b2e36); 
}

.bsc_gradient
{
    background: linear-gradient(to right, #1c1711,#221608, #16120f); 
}

.matic_gradient
{
    background: linear-gradient(to right, #14080c, #1d0f0f, #100b18);
}

.inputarea, .sample_addrs, .special_nopadding
{
    margin: 30px auto;
    background-color: rgb(21, 21, 26);
    border: 1px solid rgb(75, 77, 52);
    border-left: 0;
    border-right: 0;
    /* border-radius: 6px; */
    padding: 16px 0;
}

.sample_addrs
{
    overflow: hidden;
    text-align: left;
}

.sample_addrs *
{
    margin: 8px;
}

.sample_addrs h4
{
    font-size: 18px;
}

.sample_addrs a
{
    font-size: 14px;
    color: gray;
    text-decoration: none;
    text-overflow: ellipsis;
}

.sample_addrs a:hover
{
    color: yellow;
}

.eth_value, .btc_value
{
    font-size: 12px;
    color: cyan;
    display: block;
}

.eth_gas_box
{
    /* outline: 30px solid black; */
    position: relative;
}

.btc_value
{
    color: orange;
}

.value_totals
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.notsupported
{
    color: rgb(255, 81, 81) !important;
}

span.input_label_unit
{
    margin: 0 !important;
    padding: 0 !important;
}

.maincolumn h1
{
    margin-top: 25%;
    font-size: 18px;
}

.input_buttons
{
    margin-top: 12px;
}

.address_list
{
    text-align: center;
}

.newaddresslink
{
    text-decoration: none;
    font-size: 14px;
    color: orange;
    padding-left: 42px;
    background-image: url(../img/plus.png);
    background-position: 14px 14px;
    background-repeat: no-repeat;
    background-position: left center;
    cursor: pointer;
    display: inline;

}

.newaddresslink:hover
{
    filter: brightness(4.0);
}


.chainswitcher_container
{
    width: 100%;
    display: block;
    text-align: left;
}

.chainswitcher_title
{
    display: block;
    text-align: left;
}

/* .chainswitcher_switchrow
{
    display: flex;
    flex-direction: row;
    text-align: left;
} */

.losses
{
    color: #FF5555 !important;
}

.experimental
{
    font-family: monospace;
    font-size: 14px;
    position: absolute;
    right: 10px;
    top: 46px;
}

.samples_header
{
    background-image: url(https://assets.coingecko.com/coins/images/279/small/ethereum.png?1595348880);

    padding-left: 35px;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: 5px center;
}

.samples_header_bsc
{
    background-image: url(https://logos.covalenthq.com/tokens/0xb8c77482e45f1f44de1745f52c74426c631bdd52.png);
}

.samples_header_matic
{
    background-image: url(https://logos.covalenthq.com/tokens/0x7d1afa7b718fb893db30a3abc0cfc608aacfebb0.png);
}

.chainbutton
{
    display: inline-block;
    cursor: pointer;
    margin: 0;
    padding: 4px 8px;
    font-size: 16px;
    font-family: monospace;
    background-repeat: no-repeat;
    background-size: auto 80%;
    background-position: 5% center;
    background-color: #000;
    border: 1px solid #000;
    border-bottom-color: #333;
    margin: 0;
    display: block;
    text-align: center;
}

.chainbutton_eth
{
    background-image: url(https://assets.coingecko.com/coins/images/279/small/ethereum.png?1595348880);
}

.chainbutton_bsc
{
    background-image: url(https://logos.covalenthq.com/tokens/0xb8c77482e45f1f44de1745f52c74426c631bdd52.png);
}

.chainbutton_matic
{
    background-image: url(https://logos.covalenthq.com/tokens/0x7d1afa7b718fb893db30a3abc0cfc608aacfebb0.png);
}


/* .chosen_chain
{
    background-color: wheat;
    border-color: wheat;
    color: black;
} */



.coin_holdings
{
    
}

.coin_holdings .token_total
{
    display: inline-block;
}

.coin_holdings .perc
{
    display: inline-block;
    margin-left: 14px;
    background-color: rgb(255, 0, 200);
    color: white;
    padding: 2px 4px;
    font-size: 12px;
    border-radius: 6px;

    display: none;
}

.usdchange
{
    display: inline-block;
    margin: 0 10px;
    /* background-color: black; */
    color: rgb(0, 255, 0);
    padding: 2px 4px;
    font-size: 14px;
    width: 50px;
}

.totaldiv
{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 80px;
    font-size: 30px;
    color: #ffffff;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
}

.totaldiv-label
{
    margin-right: auto;
    text-align: left;
}

.coin_vals
{
    font-size: 16px;
}

.totaldiv-val-container .coin_vals, .totaldiv-val-container .totaldiv-val
{
    margin-left: 20px;
    display: inline-block;
}

.tot_btcv
{
    color: orange;
    display: block;
}

.tot_ethv
{
    color: cyan;
    display: block;
}

.totaldiv-val-container
{

}

.tokenp
{
    display: flex;
    flex-direction: row;
    margin: 20px;
    font-size: 16px;
}

.tokenp_left
{
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-right: auto;
}

.tokenicon
{
    width: 32px;
    height: 32px;
    margin-right: 10px;
    /* border-radius: 100%; */
    background-color: #090b0c;
    color: #999;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 32px 32px;

    vertical-align: middle;
    font-size: 12px;
    font-family: monospace;
    text-align: center;
    line-height: 32px;

    /* background-image: url('https://tokens.pancakeswap.finance/images/0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82.png'); */

}

.minus_address_icon
{
    background-image: url(../img/minus.png);
    height: 24px;
    width: 24px;
    display: inline-block;
    margin-right: 6px;
    cursor: pointer;
    margin-bottom: -4px;
}

.minus_address_icon:hover
{
    filter: brightness(4);
}

.inpaddress
{
    border: 1px solid rgb(79, 79, 79);
    font-size: 14px;
    font-family: 'lato';
    width: 77%;
    display: inline-block;
    margin: auto;
    background-color: black;
    color: #eee;
    padding: 5px 3px;
    margin: 2px 0;
}

.inpaddress:hover
{
    border-color: #8acbee;
}

.whichaddress
{
    color: rgb(154, 185, 194);
    font-size: 16px;
    font-family: monospace;
    display: block;
    text-align: center;
    /* background-color: black; */
    padding: 8px 0;
}

.inputarea
{
    text-align: center;
}

.inputarea p
{
    margin: 0;
    margin-bottom: 18px;
}

.inputarea button
{
    font-size: 24px;
    color: rgb(235, 235, 235);
    border: 1px solid wheat;
    background-color: transparent;
    cursor: pointer;
    font-family: 'lato';
    display: inline-block;
    padding: 10px 0;
    vertical-align: middle;
    margin: 10px auto;
    width: 200px;
}

.inputarea button:disabled, #btn_metamask:disabled
{
    cursor: default;
    color: rgb(151, 151, 151);
}

.inputarea button:hover:enabled, #btn_metamask:hover:enabled
{
    
    color: #000;
    background-color: wheat;
}

.inputarea button:active:enabled, #btn_metamask:active:enabled
{
    color: #ffff00;
    background-color: black
}

#btn_metamask
{
    background-image: url('../img/metamask.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 6px;
    width: 40px;
    height: 40px;
    margin-left: 20px;

}

.gold
{
    color: #fff600;
}

.tokenp_text
{
    display: block;
}

.tokenname, .tokenp_right
{
    color: white;
}

.usd_value
{
    color: white;
    font-size: 18px;
    padding: 2px 2px;
    /* background-color: #111; */
    margin-left: 10px;
    text-shadow: 3px 3px 2px rgb(0,0,0);
}

.tokenp_right
{
    text-align: right;
    margin-left: auto;
}

.tokendetails, .token_total
{
    color: rgb(151, 151, 151);
    font-size: 14px;
}

.nowloading
{
    font-size: 32px;
    text-align: center;
    vertical-align: middle;
    color: rgb(191, 191, 151);
    margin-bottom: 20px;
}

.special_nopadding
{
    padding: 0 !important;
    margin: 0 !important;
}

.gasheader
{
    text-align: center;
    width: 100%;
    padding: 4px 0;
    margin: auto;
    font-size: 16px;
    border-bottom: 1px solid #727462;
}

.gasrow
{
    font-size: 12px;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    color: #EEE;
    width: 100%;
    justify-content: space-between;
}

.cheapgas
{
    background-color: rgb(124, 0, 0);
    padding: 5px 0;
    width: 33.33%;
    text-align: center;
}

.modgas
{
    background-color: rgb(25, 10, 94);
    padding: 5px 0;
    width: 33.33%;
    text-align: center;
}

.fastgas
{
    background-color: rgb(65, 88, 10);
    padding: 5px 0;
    width: 33.33%;
    text-align: center;
}

.gas
{
    background-image: url(../img/gas.png);
    background-size: auto 100%;
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 26px;
    padding-left: 5px;
}

.uniswapcost
{
    background-color: #000;
    display: block;
    font-size: 14px;
    padding: 0;
    margin: 0;
    color: #EEE;
    width: 100%;
    text-align: center;
    padding: 4px 0;
}

.uniswapcost .gas
{
    background-image: none;
    padding-right: 5px;
}

.crossnav
{
    position: absolute !important;
    top: 0;
    width: calc(100% - 10px);
}

.token_o
{
    font-size: 14px;
    color: #CCC;
}

.token_o a
{
    color: rgb(150, 195, 255);
}

#btn_main_check
{

}

.explorer_link
{
    font-size: 12px;
    text-decoration: none;
    color: white;
}

.explorer_link:hover
{
    color: orange;
}

.explorer_icon
{
    height: 12px;
    width: auto;
    margin-left: 10px;
}

@keyframes loader_spin
{
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg);  }
}

.loader
{
    justify-content: center;
    align-items: center;
    display: flex;

    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.6);
    width: 100%;
    height: 100%;
}
.loader-gfx
{
    border: 16px solid rgba(255,255,255,0.2); 
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 3rem;
    aspect-ratio: 1.0;
    animation: loader_spin 2000ms linear infinite;
}
